html, body {
  line-height: 1.5;
}

main {
  padding-bottom: 4rem;
}

table {
  border: 1px solid oklch(var(--color-black));
  caption {
    text-align: left;
  }
  th,
  td {
    padding: 0.5rem;
  }
  th {
    background-color: oklch(var(--color-black));
    text-align: left;
    color: oklch(var(--color-white));
  }
  td {
    border: 1px solid oklch(var(--color-gray-200));
  }
}

p {
  max-width: 80ch;
  word-break: break-word;
  hyphens: auto;
  color: oklch(var(--color-gray-700));
}

code {
  background-color: oklch(var(--color-gray-100));
  color: oklch(var(--color-black));
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.ry-btn-primary-flat {
  /* --ry-btn-padding-vertical:; */
  /* --ry-btn-padding-horizontal:; */

  --ry-btn-text-color: var(--color-white);
  /* --ry-btn-text-size:; */
  /* --ry-btn-text-family:; */
  /* --ry-btn-text-line-height:; */

  /* --ry-btn-border-width:; */
  /* --ry-btn-border-style:; */
  --ry-btn-border-color: var(--color-primary-500);
  /* --ry-btn-border-radius:; */

  --ry-btn-bg: var(--color-primary-500);

  /* --ry-btn-small-padding-vertical:; */
  /* --ry-btn-small-padding-horizontal:; */

  /* --ry-btn-large-padding-vertical:; */
  /* --ry-btn-large-padding-horizontal:; */
  /* --ry-btn-large-text-size:; */

  --ry-btn-hover-bg: var(--color-primary-400);
  --ry-btn-hover-border-color: var(--color-primary-400);

  --ry-btn-active-bg: var(--color-primary-600);
  --ry-btn-active-border-color: var(--color-primary-600);

  /* --ry-btn-focus-shadow-width: ; */
  --ry-btn-focus-shadow-color: var(--color-focus);

  /*  --ry-btn-spinner-color:; */

  /* --ry-btn-a11y-bg-position:; */
  /* --ry-btn-a11y-bg-size:; */
  --ry-btn-a11y-text-shadow: 0 0 0.25rem oklch(var(--color-black) / 0.4);
  --ry-btn-a11y-bg-image: linear-gradient(
      oklch(var(--color-primary-400) / 0.4) 0.125rem,
      transparent 0.125rem
    ),
    linear-gradient(
      to right,
      oklch(var(--color-primary-400) / 0.4) 0.125rem,
      oklch(var(--color-primary-500)) 0.125rem
    );
  --ry-btn-a11y-hover-bg-image: linear-gradient(
      oklch(var(--color-primary-300) / 0.4) 0.125rem,
      transparent 0.125rem
    ),
    linear-gradient(
      to right,
      oklch(var(--color-primary-300) / 0.4) 0.125rem,
      oklch(var(--color-primary-400)) 0.125rem
    );
  --ry-btn-a11y-active-bg-image: linear-gradient(
      oklch(var(--color-primary-500) / 0.4) 0.125rem,
      transparent 0.125rem
    ),
    linear-gradient(
      to right,
      oklch(var(--color-primary-500) / 0.4) 0.125rem,
      oklch(var(--color-primary-600)) 0.125rem
    );
}

.ry-btn-primary-outline {
  /* --ry-btn-padding-vertical:; */
  /* --ry-btn-padding-horizontal:; */

  --ry-btn-text-color: var(--color-primary-600);
  /* --ry-btn-text-size:; */
  /* --ry-btn-text-family:; */
  /* --ry-btn-text-line-height:; */

  /* --ry-btn-border-width:; */
  /* --ry-btn-border-style:; */
  --ry-btn-border-color: var(--color-primary-600);
  /* --ry-btn-border-radius:; */

  --ry-btn-bg: var(--color-white);

  /* --ry-btn-small-padding-vertical:; */
  /* --ry-btn-small-padding-horizontal:; */

  /* --ry-btn-large-padding-vertical:; */
  /* --ry-btn-large-padding-horizontal:; */
  /* --ry-btn-large-text-size:; */

  --ry-btn-hover-bg: var(--color-primary-100);
  --ry-btn-hover-border-color: var(--color-primary-600);

  --ry-btn-active-bg: var(--color-primary-200);
  --ry-btn-active-border-color: var(--color-primary-600);

  /* --ry-btn-focus-shadow-width: ; */
  --ry-btn-focus-shadow-color: var(--color-focus);

  /*  --ry-btn-spinner-color:; */

  /* --ry-btn-a11y-bg-position:; */
  /* --ry-btn-a11y-bg-size:; */
  /* --ry-btn-a11y-text-shadow:; */
  --ry-btn-a11y-bg-image: linear-gradient(
      oklch(var(--color-primary-100) / 0.3) 0.125rem,
      transparent 0.125rem
    ),
    linear-gradient(
      to right,
      oklch(var(--color-primary-100) / 0.3) 0.125rem,
      oklch(var(--color-white)) 0.125rem
    );
  --ry-btn-a11y-hover-bg-image: linear-gradient(
      oklch(var(--color-primary-200) / 0.4) 0.125rem,
      transparent 0.125rem
    ),
    linear-gradient(
      to right,
      oklch(var(--color-primary-200) / 0.4) 0.125rem,
     transparent  0.125rem
    );
  --ry-btn-a11y-active-bg-image: linear-gradient(
      oklch(var(--color-primary-300) / 0.4) 0.125rem,
      transparent 0.125rem
    ),
    linear-gradient(
      to right,
      oklch(var(--color-primary-300) / 0.4) 0.125rem,
     transparent  0.125rem
    );
}

.ry-btn-success-flat {
  /* --ry-btn-padding-vertical:; */
  /* --ry-btn-padding-horizontal:; */

  --ry-btn-text-color: var(--color-white);
  /* --ry-btn-text-size:; */
  /* --ry-btn-text-family:; */
  /* --ry-btn-text-line-height:; */

  /* --ry-btn-border-width:; */
  /* --ry-btn-border-style:; */
  --ry-btn-border-color: var(--color-success-500);
  /* --ry-btn-border-radius:; */

  --ry-btn-bg: var(--color-success-500);

  /* --ry-btn-small-padding-vertical:; */
  /* --ry-btn-small-padding-horizontal:; */

  /* --ry-btn-large-padding-vertical:; */
  /* --ry-btn-large-padding-horizontal:; */
  /* --ry-btn-large-text-size:; */

  --ry-btn-hover-bg: var(--color-success-400);
  --ry-btn-hover-border-color: var(--color-success-400);

  --ry-btn-active-bg: var(--color-success-600);
  --ry-btn-active-border-color: var(--color-success-600);

  /* --ry-btn-focus-shadow-width: ; */
  --ry-btn-focus-shadow-color: var(--color-focus);

  /*  --ry-btn-spinner-color:; */

  --ry-btn-a11y-bg-position: 0 0;
  --ry-btn-a11y-bg-size: auto;
  --ry-btn-a11y-text-shadow: 0 0 0.25rem oklch(var(--color-black) / 0.4);
  --ry-btn-a11y-bg-image: repeating-linear-gradient(
    45deg,
    oklch(var(--color-white) / 0.1),
    oklch(var(--color-white) / 0.1) 0.25rem,
    oklch(var(--color-success-500)) 0.25rem,
    oklch(var(--color-success-500)) 1.25rem
  );
  --ry-btn-a11y-hover-bg-image: repeating-linear-gradient(
    45deg,
    oklch(var(--color-white) / 0.1),
    oklch(var(--color-white) / 0.1) 0.25rem,
    oklch(var(--color-success-400)) 0.25rem,
    oklch(var(--color-success-400)) 1.25rem
  );
  --ry-btn-a11y-active-bg-image: repeating-linear-gradient(
    45deg,
    oklch(var(--color-white) / 0.1),
    oklch(var(--color-white) / 0.1) 0.25rem,
    oklch(var(--color-success-600)) 0.25rem,
    oklch(var(--color-success-600)) 1.25rem
  );
}

.ry-btn-success-outline {
  /* --ry-btn-padding-vertical:; */
  /* --ry-btn-padding-horizontal:; */

  --ry-btn-text-color: var(--color-success-600);
  /* --ry-btn-text-size:; */
  /* --ry-btn-text-family:; */
  /* --ry-btn-text-line-height:; */

  /* --ry-btn-border-width:; */
  /* --ry-btn-border-style:; */
  --ry-btn-border-color: var(--color-success-600);
  /* --ry-btn-border-radius:; */

  --ry-btn-bg: var(--color-white);

  /* --ry-btn-small-padding-vertical:; */
  /* --ry-btn-small-padding-horizontal:; */

  /* --ry-btn-large-padding-vertical:; */
  /* --ry-btn-large-padding-horizontal:; */
  /* --ry-btn-large-text-size:; */

  --ry-btn-hover-bg: var(--color-success-100);
  --ry-btn-hover-border-color: var(--color-success-400);

  --ry-btn-active-bg: var(--color-success-200);
  --ry-btn-active-border-color: var(--color-success-600);

  /* --ry-btn-focus-shadow-width: ; */
  --ry-btn-focus-shadow-color: var(--color-focus);

  /*  --ry-btn-spinner-color:; */

  --ry-btn-a11y-bg-position: 0 0;
  --ry-btn-a11y-bg-size: auto;
  /* --ry-btn-a11y-text-shadow:; */
  --ry-btn-a11y-bg-image: repeating-linear-gradient(
    45deg,
    oklch(var(--color-success-500) / 0.1),
    oklch(var(--color-success-500) / 0.1) 0.25rem,
    oklch(var(--color-white)) 0.25rem,
    oklch(var(--color-white)) 1.25rem
  );
  --ry-btn-a11y-hover-bg-image: repeating-linear-gradient(
    45deg,
    oklch(var(--color-white) / 0.3),
    oklch(var(--color-white) / 0.3) 0.25rem,
    oklch(var(--color-success-100)) 0.25rem,
    oklch(var(--color-success-100)) 1.25rem
  );
  --ry-btn-a11y-active-bg-image: repeating-linear-gradient(
    45deg,
    oklch(var(--color-white) / 0.3),
    oklch(var(--color-white) / 0.3) 0.25rem,
    oklch(var(--color-success-200)) 0.25rem,
    oklch(var(--color-success-200)) 1.25rem
  );
}

.ry-breadcrumbs {
  --ry-breadcrumbs-bg: var(--color-gray-100);
  /* --ry-breadcrumbs-link-padding-vertical:; */
  /* --ry-breadcrumbs-link-padding-horizontal:; */
  --ry-breadcrumbs-text-size: 1.25rem;
  --ry-breadcrumbs-text-deco: underline;
  --ry-breadcrumbs-link-color: var(--color-warning-600);
  --ry-breadcrumbs-link-visited-color:var(--color-visited);
  --ry-breadcrumbs-focus-shadow-width: 5px; 
  --ry-breadcrumbs-focus-shadow-color: var(--color-danger-600);
  --ry-breadcrumbs-link-currentpage-color: var(--color-danger-600);
}

.f-l-ry-accordion {
  max-width: 800px;
  --ry-accordion-item-gap: 0;
  ry-accordion-item {
    &::part(button) {
      border-bottom: 0;
    }
    &::part(region) {
      border-bottom: 0;
    }
    &:first-child {
      &::part(button){
        border-radius: var(--ry-btn-border-radius, 0.25rem) var(--ry-btn-border-radius, 0.25rem) 0 0;
      }
    }
    &:last-child {
      &::part(button){
        border-bottom: var(--ry-btn-border-width, 1px) var(--ry-btn-border-style, solid) oklch(var(--ry-btn-border-color, 78.94% 0 0));
        border-radius: 0 0 var(--ry-btn-border-radius, 0.25rem) var(--ry-btn-border-radius, 0.25rem);
      }
    }
    &[open] {
      &:last-child {
        &::part(button) {
          border-bottom: 0;
          border-radius: 0;
        }
        &::part(region) {
          border-bottom: var(--ry-btn-border-width, 1px) var(--ry-btn-border-style, solid) oklch(var(--ry-btn-border-color, 78.94% 0 0));
        }
      }
    }
  }
}

.custom-ry-accordion {
  display: block;
  max-width: 800px;
  --ry-accordion-item-content-bg: var(--color-blue-50);
  --ry-accordion-item-content-text-color: var(--color-blue-600);
  /* --ry-accordion-item-content-padding-left:; */
  /* --ry-accordion-item-content-padding-right:; */
  --ry-accordion-item-content-overscroll-behavior: contain;
  --ry-accordion-item-content-max-height: 200px;
}


