html, body {
  line-height: 1.5;
}

main {
  padding-bottom: 4rem;
}

table {
  border: 1px solid oklch(var(--color-black));
  caption {
    text-align: left;
  }
  th,
  td {
    padding: 0.5rem;
  }
  th {
    background-color: oklch(var(--color-black));
    text-align: left;
    color: oklch(var(--color-white));
  }
  td {
    border: 1px solid oklch(var(--color-gray-200));
  }
}

p {
  max-width: 80ch;
  word-break: break-word;
  hyphens: auto;
  color: oklch(var(--color-gray-700));
  margin: 0 0 1rem;
}

code {
  background-color: oklch(var(--color-gray-100));
  color: oklch(var(--color-black));
}

.material-symbols-outlined {
  line-height: inherit!important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


