<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ronalda11y Button</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <script src="button.js" defer></script>
  </head>
  <body>
    <main>
      <h1>
        <a
          href="https://github.com/Neil-Lin/Ronalda11y"
          target="_blank"
          title="open new window to Ronalda11y github"
          rel="noreferrer noopener"
        >
          Ronalda11y
        </a>
        Button
      </h1>
      <h2>How to use</h2>
      <h3>HTML</h3>
      <ol>
        <li>
          Add the JavaScript file to HTML using the
          <code>&lt;script src=&quot;&quot; defer&gt;</code> tag
        </li>
        <li>Use the <code>&lt;ry-btn&gt;</code> tag</li>
      </ol>
      <h3>Nuxt3</h3>
      <ol>
        <li>Add the JavaScript file to the Nuxt3 project (possibly in the statics or assets folder).</li>
        <li>
          Add a `.client.js` file to the plugins folder with the following export:
          <code>
            export default defineNuxtPlugin(() => {
              if (process.client) {
                import('your path')
              }
            })   
          </code>       
        </li>
        <li>Add the plugin configuration to your nuxt.config.ts (or .js):<code>plugins: ['~/plugins/rybtn.client.js']</code></li>
      </ol>
      <p>Ensure to replace 'your-path' with the actual path to your JavaScript file. Also, make sure the path and filenames are correct to avoid loading errors.</p>
      <h2>Attribute</h2>
      <table>
        <caption>
          The Ronalda11y button inherits attributes, with some custom options available:
        </caption>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Available value</th>
        </tr>
        <tr>
          <td>size</td>
          <td>Sets the size of the button.</td>
          <td>small, large</td>
        </tr>
        <tr>
          <td>disabled</td>
          <td>Disables the button if set.</td>
          <td></td>
        </tr>
        <tr>
          <td>loading</td>
          <td>Disables the button and shows a loading animation when set.</td>
          <td></td>
        </tr>
      </table>
      <h2>Size</h2>
      <ry-btn size="small">Small Button</ry-btn>
      <ry-btn>Button</ry-btn>
      <ry-btn size="large">Large Button</ry-btn>
      <h2>Disabled</h2>
      <p>
        We do not recommend using the disabled and loading attributes because
        elements marked as disabled cannot be focused by the keyboard, and
        screen reading software will often ignore them. Additionally, the
        disabled state is typically designed to be less visually prominent to
        discourage attention or premature interaction. If possible, consider
        using a method that provides error feedback after an attempt to
        interact, rather than disabling the button. However, this concept has
        not yet become widely accepted, and there are indeed scenarios where
        using disabled is appropriate. Therefore, we have still designed it to
        be usable.
      </p>
      <ry-btn disabled>Disabled Button</ry-btn>
      <h2>Loading</h2>
      <ry-btn loading></ry-btn>
      <ry-btn loading>Loading Button</ry-btn>
      <h2>Custom Theme</h2>
      <p>Create your own color scheme by using classnames.</p>
      <ol>
        <li>Set a Classname: Define a custom class name for styling the button.</li>
        <li>Define CSS Variables in the Classname: Customize the button's appearance by setting CSS variables within your classname.</li>
        <li>Experiment: Apply your custom classname to a button and see the changes.</li>
      </ol>
      <h3>Recommendation</h3>
      <p>We recommend establishing a set of basic CSS variables and tokens to maintain consistency across your design.</p>
      <ry-btn class="ry-btn-primary-flat">Primary</ry-btn>
      <ry-btn class="ry-btn-success-flat">Success</ry-btn>
      <br><br>
      <ry-btn class="ry-btn-primary-flat a11y">Primary</ry-btn>
      <ry-btn class="ry-btn-success-flat a11y">Success</ry-btn>
      <br><br>
      <ry-btn class="ry-btn-primary-outline">Primary</ry-btn>
      <ry-btn class="ry-btn-success-outline">Success</ry-btn>
      <br><br>
      <ry-btn class="ry-btn-primary-outline a11y">Primary</ry-btn>
      <ry-btn class="ry-btn-success-outline a11y">Success</ry-btn>
      <h3>CSS Variables</h3>
      <table>
        <tr>
          <th scope="col">CSS Variables name</th>
          <th scope="col">Description</th>
          <th scope="col">Default value</th>
        </tr>
        <tr>
          <td>--btn-padding-vertical</td>
          <td>padding-top and padding-bottom</td>
          <td>0.75rem</td>
        </tr>
        <tr>
          <td>--btn-padding-horizontal</td>
          <td>padding-left and padding-right</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--btn-text-color</td>
          <td>text color</td>
          <td>oklch(13.98% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-text-size</td>
          <td>font size</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--btn-text-family</td>
          <td>font family</td>
          <td>'system-ui, Helvetica, Arial, sans-serif'</td>
        </tr>
        <tr>
          <td>--btn-text-line-height</td>
          <td>font line height</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>--btn-border-width</td>
          <td>border width</td>
          <td>1px</td>
        </tr>
        <tr>
          <td>--btn-border-style</td>
          <td>border style</td>
          <td>solid</td>
        </tr>
        <tr>
          <td>--btn-border-color</td>
          <td>border color</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-border-radius</td>
          <td>border radius</td>
          <td>0.25rem</td>
        </tr>
        <tr>
          <td>--btn-bg</td>
          <td>background color</td>
          <td>oklch(99.4% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-small-padding-vertical</td>
          <td>padding-top and padding-bottom at small size</td>
          <td>0.25rem</td>
        </tr>
        <tr>
          <td>--btn-small-padding-horizontal</td>
          <td>padding-left and padding-right at small size</td>
          <td>0.5rem</td>
        </tr>
        <tr>
          <td>--btn-large-padding-vertical</td>
          <td>padding-top and padding-bottom at large size</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--btn-large-padding-horizontal</td>
          <td>padding-left and padding-right at large size</td>
          <td>2rem</td>
        </tr>
        <tr>
          <td>--btn-large-text-size</td>
          <td>font size at large size</td>
          <td>1.25rem</td>
        </tr>
        <tr>
          <td>--btn-hover-bg</td>
          <td>background color (hover)</td>
          <td>oklch(94.66% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-hover-border-color</td>
          <td>border color (hover)</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-active-bg</td>
          <td>background color (active)</td>
          <td>oklch(86.89% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-active-border-color</td>
          <td>border color (active)</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--btn-focus-shadow-width</td>
          <td>focus border width(actually box-shadow)</td>
          <td>3px</td>
        </tr>
        <tr>
          <td>--btn-focus-shadow-color</td>
          <td>focus border color(actually box-shadow)</td>
          <td>oklch(83.15% 0.15681888825079074 78.05241467152487)</td>
        </tr>
        <tr>
          <td>--btn-a11y-text-shadow</td>
          <td>enhance button, using text shadow</td>
          <td>none</td>
        </tr>
        <tr>
          <td>--btn-a11y-bg-image</td>
          <td>enhance button, using a background image</td>
          <td>none</td>
        </tr>
        <tr>
          <td>--btn-a11y-bg-size</td>
          <td>enhance button, adjust size of background image</td>
          <td>1.5rem 1.5rem</td>
        </tr>
        <tr>
          <td>--btn-a11y-bg-position</td>
          <td>enhance button, adjust position of background image</td>
          <td>center center</td>
        </tr>
        <tr>
          <td>--btn-a11y-hover-bg-image</td>
          <td>enhance button, using a background image(hover)</td>
          <td>none</td>
        </tr>
        <tr>
          <td>--btn-a11y-active-bg-image</td>
          <td>enhance button, using a background image(active)</td>
          <td>none</td>
        </tr>
        <tr>
          <td>--btn-spinner-color</td>
          <td>color of loading</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
      </table>
      <h2>Click Event</h2>
      <form action="index.html" method="get">
        First name: <input type="text" name="fname" />
        <ry-btn id="testButton">Type:Button</ry-btn>
        <ry-btn type="submit">Type:Submit</ry-btn>
        <ry-btn type="reset">Type:Reset</ry-btn>
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const button = document.getElementById("testButton");
        button.addEventListener("click", (event) => {
          console.log('Button Clicked!')
        });
      });
    </script>
  </body>
</html>
