<!DOCTYPE html>
<html lang="zh-Hannt-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ronalda11y 開關</title>
    <link rel="stylesheet" href="../../../css/style.css" />
    <script src="switch.js" defer></script>
  </head>
  <body>
    <main>
      <h1>
        <a
          href="https://github.com/Neil-Lin/Ronalda11y"
          target="_blank"
          title="open new window to Ronalda11y github"
          rel="noreferrer noopener"
        >
          Ronalda11y
        </a>
        開關
      </h1>
      <h2>如何使用</h2>
      <h3>HTML</h3>
      <ol>
        <li>複製檔案 (switch.js 或 ronalda11y.js 或 ronalda11y.min.js)</li>
        <li>
          將 JavaScript 檔案引入至 HTML
          <code>&lt;script src=&quot;&quot; defer&gt;</code>
        </li>
        <li>使用 <code>&lt;ry-switch&gt;</code> 標籤</li>
      </ol>
      <h3>Nuxt3</h3>
      <ol>
        <li>複製檔案 (switch.js 或 ronalda11y.js 或 ronalda11y.min.js)</li>
        <li>將 JavaScript 檔案放到 Nuxt3 專案。</li>
        <li>
          在 plugins 資料夾新增 `ry.client.js` 檔案，內容範例如下：
          <code>
            export default defineNuxtPlugin(() => {
              if (process.client) {
                import('your path')
              }
            })   
          </code>       
        </li>
        <li>在 nuxt.config.ts (或 .js) 增加 plugins:<code>plugins: ['~/plugins/ry.client.js']</code></li>
        <li>使用 <code>&lt;ry-switch&gt;</code> 標籤</li>
      </ol>
      <p>如果發生錯誤，請先確保路徑以及名稱都正確。</p>
      <h2>屬性</h2>
      <table>
        <caption>
          Ronalda11y 開關有以下屬性可用：
        </caption>
        <tr>
          <th scope="col">名稱</th>
          <th scope="col">說明</th>
        </tr>
        <tr>
          <td>off</td>
          <td>設定關閉狀態的顯示文字</td>
        </tr>
        <tr>
          <td>on</td>
          <td>設定開啟狀態的顯示文字</td>
        </tr>
      </table>
      <h2>基本使用</h2>
      <ry-switch>
        文字內容
      </ry-switch>
      <h2>客製化開關文字與內容</h2>
      <fieldset>
        <legend>客製化範例</legend>
        <ry-switch>
          <mark>文字內容</mark>
        </ry-switch>
        <br />
        <ry-switch on="訂閱！">
          只顯示開啟的文字
        </ry-switch>
        <br />
        <ry-switch off="取消">
          只顯示關閉的文字
        </ry-switch>
        <br />
        <ry-switch class="custom-ry-switch" on="開" off="關">
          使用 CSS Variables 調整樣式
        </ry-switch>
      </fieldset>
      <h3>CSS Variables</h3>
      <table>
        <tr>
          <th scope="col">CSS Variables 名稱</th>
          <th scope="col">說明</th>
          <th scope="col">預設值</th>
        </tr>
        <tr>
          <td>--ry-switch-gap</td>
          <td>Label 文字與開關的間距</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-switch-padding-top</td>
          <td>上內距</td>
          <td>0.5rem</td>
        </tr>
        <tr>
          <td>--ry-switch-padding-right</td>
          <td>右內距</td>
          <td>0.25rem</td>
        </tr>
        <tr>
          <td>--ry-switch-padding-bottom</td>
          <td>下內距</td>
          <td>0.5rem</td>
        </tr>
        <tr>
          <td>--ry-switch-padding-left</td>
          <td>左內距</td>
          <td>0.25rem</td>
        </tr>
        <tr>
          <td>--ry-switch-container-gap</td>
          <td>開關內的間距</td>
          <td>0.5rem</td>
        </tr>
        <tr>
          <td>--ry-switch-input-width</td>
          <td>開關寬度</td>
          <td>4rem(height: 2rem)</td>
        </tr>
        <tr>
          <td>--ry-switch-inner-distance</td>
          <td>開關邊界與內部間距</td>
          <td>4rem(height: 2rem)</td>
        </tr>
        <tr>
          <td>--ry-switch-input-border-width</td>
          <td>開關邊線寬度</td>
          <td>1px</td>
        </tr>
        <tr>
          <td>--ry-switch-input-border-style</td>
          <td>開關邊線樣式</td>
          <td>solid</td>
        </tr>
        <tr>
          <td>--ry-switch-input-border-color</td>
          <td>開關邊線顏色</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-switch-input-border-radius</td>
          <td>開關倒圓角</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-switch-inner-border-radius</td>
          <td>開關內部倒圓角</td>
          <td>0.875rem</td>
        </tr>
        <tr>
          <td>--ry-switch-input-checked-bg</td>
          <td>背景顏色 (開啟時)</td>
          <td>oklch(13.98% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-switch-focus-shadow-color</td>
          <td>聚焦時邊線顏色</td>
          <td>oklch(83.15% 0.15681888825079074 78.05241467152487)</td>
        </tr>
        <tr>
          <td>--ry-switch-focus-shadow-width</td>
          <td>聚焦時邊線寬度</td>
          <td>3px</td>
        </tr>
      </table>
      <h2>問與答</h2>
      <h3>為什麼使用 input[type="checkbox"] 而不全部使用 div 自製？</h3>
      <p>因為可以不需要使用 aria-checked 與 tabindex，能使用原生 Html 就盡量使用。</p>
    </main>
    <script>
      const switchElements = document.querySelectorAll('ry-switch');
      switchElements.forEach(switchElement => {
        switchElement.addEventListener('change', (event) => {
          console.log(`${switchElement.innerText} is now ${event.detail ? 'On' : 'Off'}`);
        });
      });
    </script>
  </body>
</html>
