<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ronalda11y 麵包屑</title>
    <link rel="stylesheet" href="../../../css/style.css" />
    <script src="breadcrumbs.js" defer></script>
  </head>
  <body>
    <main>
      <h1>
        <a
          href="https://github.com/Neil-Lin/Ronalda11y"
          target="_blank"
          title="另開視窗到 Ronalda11y github"
          rel="noreferrer noopener"
        >
          Ronalda11y
        </a>
        麵包屑
      </h1>
      <h2>如何使用</h2>
      <h3>HTML</h3>
      <ol>
        <li>複製檔案 (breadcrumbs.js 或 ronalda11y.js 或 ronalda11y.min.js)</li>
        <li>
          將 JavaScript 檔案引入至 HTML
          <code>&lt;script src=&quot;&quot; defer&gt;</code>
        </li>
        <li>使用 <code>&lt;ry-breadcrumbs&gt;</code> 標籤</li>
      </ol>
      <h3>Nuxt3</h3>
      <ol>
        <li>複製檔案 (breadcrumbs.js 或 ronalda11y.js 或 ronalda11y.min.js)</li>
        <li>將 JavaScript 檔案放到 Nuxt3 專案。</li>
        <li>
          在 plugins 資料夾新增 `ry.client.js` 檔案，內容範例如下：
          <code>
            export default defineNuxtPlugin(() => {
              if (process.client) {
                import('your path')
              }
            })   
          </code>       
        </li>
        <li>在 nuxt.config.ts (或 .js) 增加 plugins:<code>plugins: ['~/plugins/ry.client.js']</code></li>
        <li>使用 <code>&lt;ry-breadcrumbs&gt;</code> 標籤</li>
      </ol>
      <h2>屬性</h2>
      <table>
        <caption>
          寫在 Ronalda11y 麵包屑上的屬性都會繼承，但以下屬性我們有做一點變化：
        </caption>
        <tr>
          <th scope="col">屬性名稱</th>
          <th scope="col">說明</th>
          <th scope="col">類型</th>
          <th scope="col">預設值</th>
        </tr>
        <tr>
          <td>id</td>
          <td>設定 id</td>
          <td>string</td>
          <td></td>
        </tr>
        <tr>
          <td>class</td>
          <td>設定 classname</td>
          <td>string</td>
          <td></td>
        </tr>
        <tr>
          <td>aria-label</td>
          <td>設定 aria-label</td>
          <td>string</td>
          <td></td>
        </tr>
        <tr>
          <td>separator</td>
          <td>設定分隔的符號</td>
          <td>string</td>
          <td>/</td>
        </tr>
        <tr>
          <td>items</td>
          <td>設定麵包屑資料</td>
          <td>{ "text":string, "url":string }</td>
          <td></td>
        </tr>
      </table>
      <h2>基本</h2>
      <ry-breadcrumbs
        items='[
          { 
            "text":"Home",
            "url":"/"
          }, 
          {
            "text":"About",
            "url":"/about"
          }, 
          { 
            "text":"Contact"
          }
        ]'
      ></ry-breadcrumbs>
      <h2>使用 aria-label</h2>
      <p>推薦加入 <code>aria-label</code></p>
      <ry-breadcrumbs
        aria-label="這是麵包屑"
        items='[
          { 
            "text":"首頁",
            "url":"/"
          }, 
          {
            "text":"關於",
            "url":"/about"
          }, 
          { 
            "text":"聯絡"
          }
        ]'
      ></ry-breadcrumbs>
      <p>打開開發者除錯工具 devtool 會看到<code>&lt;nav aria-label="這是麵包屑"&gt;</code></p>
      <h2>分隔符號</h2>
      <ry-breadcrumbs
        label="這是麵包屑"
        separator=">"
        items='[
          { 
            "text": "首頁",
            "url": "/",
            "icon": "aaa"
          }, 
          {
            "text": "關於",
            "url": "/about"
          }, 
          { 
            "text": "聯絡"
          }
        ]'
      ></ry-breadcrumbs>
      <h2>客製化樣式</h2>
      <p>設定一個你喜歡的 classname 並且在裡面改變麵包屑的 CSS Variables</p>
      <p>如果要在項目前面加 icon，則可以使用 slot="icon-{count}"，例如第二個 <code>slot="icon-2"</code></p>
      <ry-breadcrumbs
        id="aaa"
        class="ry-breadcrumbs"
        aria-label="這是麵包屑"
        separator=">"
        items='[
          { 
            "text": "首頁",
            "url": "/"
          }, 
          {
            "text": "關於",
            "url": "/about"
          }, 
          { 
            "text": "聯絡"
          }
        ]'
      >
        <span slot="icon-2">😃</span>  
      </ry-breadcrumbs>
      <h3>CSS Variables</h3>
      <table>
        <tr>
          <th scope="col">CSS Variables 名稱</th>
          <th scope="col">說明</th>
          <th scope="col">預設值</th>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-bg</td>
          <td>麵包屑背景顏色</td>
          <td>transparent</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-link-padding-vertical</td>
          <td>麵包屑裡的連結左右間距</td>
          <td>0.75rem</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-link-padding-horizontal</td>
          <td>麵包屑裡的連結上下間距</td>
          <td>0.5rem</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-text-size</td>
          <td>文字大小</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-text-deco</td>
          <td>文字底線</td>
          <td>none</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-link-color</td>
          <td>連結文字顏色</td>
          <td>oklch(42.9% 0.2972777928415759 264.05202063805507)</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-link-visited-color</td>
          <td>連結文字顏色(造訪過的連結)</td>
          <td>oklch(37.48% 0.167 303.51)</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-focus-shadow-width</td>
          <td>聚焦時的邊框粗細</td>
          <td>3px</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-focus-shadow-color</td>
          <td>聚焦時的邊框顏色</td>
          <td>oklch(83.15% 0.15681888825079074 78.05241467152487)</td>
        </tr>
        <tr>
          <td>--ry-breadcrumbs-link-currentpage-color</td>
          <td>最後一個，也就是目前頁面的文字顏色</td>
          <td>oklch(13.98% 0 0)</td>
        </tr>
      </table>
      <h2>心得</h2>
      <p>這是一個很簡單的 Web Component，功能簡單，內容包含</p>
      <ul>
        <li>只保留 id, class, aria-label 的繼承</li>
        <li>新增 separator 變更連接符號 跟 items 資料</li>
        <li>每個項目的前面都可以加 slot 變更 icon</li>
        <li>並且提示現在頁面 aria-current="page"</li>
        <li>以 CSS Variables 調整主要外觀</li>
      </ul>
      <p>對於開發者來說，開發一個無障礙麵包屑的 web component 實作不難，應用上又會方便許多，所以這是一個值得開發或使用的功能。</p>
    </main>
  </body>
</html>
