<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ronalda11y Breadcrumbs</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <script src="breadcrumbs.js" defer></script>
  </head>
  <body>
    <main>
      <h1>
        <a
          href="https://github.com/Neil-Lin/Ronalda11y"
          target="_blank"
          title="open new window to Ronalda11y github"
          rel="noreferrer noopener"
        >
          Ronalda11y
        </a>
        Breadcrumbs
      </h1>
      <h2>How to use</h2>
      <h3>HTML</h3>
      <ol>
        <li>
          Add the JavaScript file to HTML using the
          <code>&lt;script src=&quot;&quot; defer&gt;</code> tag
        </li>
        <li>Use the <code>&lt;ry-breadcrumbs&gt;</code> tag</li>
      </ol>
      <h3>Nuxt3</h3>
      <h2>Attribute</h2>
      <table>
        The Ronalda11y breadcrumbs inherits attributes, with some custom options available:
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Type</th>
          <th scope="col">Default value</th>
        </tr>
        <tr>
          <td>separator</td>
          <td>Sets the separator between breadcrumb items.</td>
          <td>string</td>
          <td>/</td>
        </tr>
        <tr>
          <td>items</td>
          <td>Sets the text and url path of breadcrumb item.</td>
          <td>{ "text":string, "url":string }</td>
          <td></td>
        </tr>
      </table>
      <h2>Breadcrumbs Items</h2>
      <ry-breadcrumbs
        items='[
          { 
            "text":"Home",
            "url":"/"
          }, 
          {
            "text":"About",
            "url":"/about"
          }, 
          { 
            "text":"Contact"
          }
        ]'
      ></ry-breadcrumbs>
      <h2>aria-label</h2>
      <p>Recommend to add <code>&lt;aria-label&gt;</code></p>
      <ry-breadcrumbs
        aria-label="This is main navigator."
        items='[
          { 
            "text":"Home",
            "url":"/"
          }, 
          {
            "text":"About",
            "url":"/about"
          }, 
          { 
            "text":"Contact"
          }
        ]'
      ></ry-breadcrumbs>
      <p>open devtool you can see <code>&lt;nav aria-label="This is main navigator."&gt;</code></p>
      <h2>Separator</h2>
      <ry-breadcrumbs
        label="This is main navigator."
        separator=">"
        items='[
          { 
            "text":"Home",
            "url":"/"
          }, 
          {
            "text":"About",
            "url":"/about"
          }, 
          { 
            "text":"Contact"
          }
        ]'
      ></ry-breadcrumbs>
      <h2>Custom</h2>
      <p>Set a classname and change CSS Variables.</p>
      <ry-breadcrumbs
        id="aaa"
        class="ry-breadcrumbs"
        aria-label="Test navigator."
        separator=">"
        items='[
          { 
            "text":"Home",
            "url":"/"
          }, 
          {
            "text":"About",
            "url":"/about"
          }, 
          { 
            "text":"Contact"
          }
        ]'
      ></ry-breadcrumbs>
      <h3>CSS Variables</h3>
      <table>
        <tr>
          <th scope="col">CSS Variables name</th>
          <th scope="col">Description</th>
          <th scope="col">Default value</th>
        </tr>
        <tr>
          <td>--breadcrumbs-bg</td>
          <td>navigator background color</td>
          <td>transparent</td>
        </tr>
        <tr>
          <td>--breadcrumbs-link-padding-vertical</td>
          <td>padding-top and padding-bottom of the link</td>
          <td>0.75rem</td>
        </tr>
        <tr>
          <td>--breadcrumbs-link-padding-horizontal</td>
          <td>padding-left and padding-right of the link</td>
          <td>0.5rem</td>
        </tr>
        <tr>
          <td>--breadcrumbs-text-size</td>
          <td>text size</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--breadcrumbs-text-deco</td>
          <td>text-decoration</td>
          <td>none</td>
        </tr>
        <tr>
          <td>--breadcrumbs-link-color</td>
          <td>color of link</td>
          <td>oklch(42.9% 0.2972777928415759 264.05202063805507)</td>
        </tr>
        <tr>
          <td>--breadcrumbs-link-visited-color</td>
          <td>color of link(visited)</td>
          <td>oklch(37.48% 0.167 303.51)</td>
        </tr>
        <tr>
          <td>--breadcrumbs-focus-shadow-width</td>
          <td>border width of link(focus)</td>
          <td>3px</td>
        </tr>
        <tr>
          <td>--breadcrumbs-focus-shadow-color</td>
          <td>border width of link(focus)</td>
          <td>oklch(83.15% 0.15681888825079074 78.05241467152487)</td>
        </tr>
        <tr>
          <td>--breadcrumbs-link-currentpage-color</td>
          <td>border width of link(focus)</td>
          <td>oklch(13.98% 0 0)</td>
        </tr>
      </table>
    </main>
  </body>
</html>
