<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ronalda11y Accordion</title>
    <link rel="stylesheet" href="../../../css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="accordion.js" defer></script>
  </head>
  <body>
    <main>
      <h1>
        <a
          href="https://github.com/Neil-Lin/Ronalda11y"
          target="_blank"
          title="open new window to Ronalda11y github"
          rel="noreferrer noopener"
        >
          Ronalda11y
        </a>
        Accordion
      </h1>
      <h2>How to use</h2>
      <h3>HTML</h3>
      <ol>
        <li>Copy file (accordion.js or ronalda11y.js or ronalda11y.min.js)</li>
        <li>
          Add the JavaScript file to HTML using the
          <code>&lt;script src=&quot;&quot; defer&gt;</code> tag
        </li>
        <li>Use the <code>&lt;ry-accordion&gt;</code> <code>&lt;ry-accordion-item&gt;</code>tag</li>
      </ol>
      <h3>Nuxt3</h3>
      <ol>
        <li>Copy file (accordion.js or ronalda11y.js or ronalda11y.min.js)</li>
        <li>Add the JavaScript file to the Nuxt3 project.</li>
        <li>
          Add a `ry.client.js` file to the plugins folder with the following export:
          <code>
            export default defineNuxtPlugin(() => {
              if (process.client) {
                import('your path')
              }
            })   
          </code>       
        </li>
        <li>Add the plugin configuration to your nuxt.config.ts (or .js):<code>plugins: ['~/plugins/ry.client.js']</code></li>
        <li>Use the <code>&lt;ry-accordion&gt;</code> and <code>&lt;ry-accordion-item&gt;</code> tag</li>
      </ol>
      <p>Ensure to replace 'your-path' with the actual path to your JavaScript file. Also, make sure the path and filenames are correct to avoid loading errors.</p>
      <h2>Basic &lt;slot&gt;</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>heading</td>
          <td>Title of accordion item</td>
        </tr>
        <tr>
          <td>sub</td>
          <td>Subtitle of accordion item</td>
        </tr>
        <tr>
          <td>icon</td>
          <td>icon of accordion item</td>
        </tr>
        <tr>
          <td>content</td>
          <td>Content of accordion item</td>
        </tr>
      </table>
      <br>
      <ry-accordion>
        <ry-accordion-item>
          <div slot="heading">Heading</div>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content</div>
        </ry-accordion-item>
        <ry-accordion-item>
          <div slot="heading">Heading2</div>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content2</div>
        </ry-accordion-item>
      </ry-accordion>
      <h2>Default Open</h2>
      <p>Add `open` attribute <code>&lt;ry-accordion-item open&gt;</code> </p>
      <ry-accordion>
        <ry-accordion-item open>
          <div slot="heading">Heading</div>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content</div>
        </ry-accordion-item>
        <ry-accordion-item>
          <div slot="heading">Heading2</div>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content2</div>
        </ry-accordion-item>
      </ry-accordion>
      <h2>Nested</h2>
      <ry-accordion>
        <ry-accordion-item>
          <div slot="heading">Heading</div>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">
            <ry-accordion>
              <ry-accordion-item>
                <div slot="heading">Heading</div>
                <div slot="sub">
                  sub
                </div>
                <div slot="icon">
                  icon
                </div>
                <div slot="content">Content</div>
              </ry-accordion-item>
              <ry-accordion-item>
                <div slot="heading">Heading2</div>
                <div slot="sub">
                  sub
                </div>
                <div slot="icon">
                  icon
                </div>
                <div slot="content">Content2</div>
              </ry-accordion-item>
            </ry-accordion>
          </div>
        </ry-accordion-item>
      </ry-accordion>
      <h2>Custom Style</h2>
      <h3>If you want to select first-child and last-child</h3>
      <p>Set external CSS and use <code>::part</code> style `button` and `region`</p>
      <p>Because We can't select `.ry-accordion-item` in &lt;ry-accordion&gt;.(Both are shadow dom)</p>
      <code style="display: block; white-space: pre-wrap;">
        /* demo.css */
        ry-accordion-item {
          &::part(button) {
            border-bottom: 0;
          }
          &::part(region) {
            border-bottom: 0;
          }
          &:first-child {
            &::part(button){
              border-radius: 0.25rem 0.25rem 0 0;
            }
          }
          &:last-child {
            &::part(button){
              border-bottom: 1px solid oklch(78.94% 0 0);
              border-radius: 0 0 0.25rem 0.25rem;
            }
            &::part(region){
              border-radius: 0 0 0.25rem 0.25rem;
            }
          }
          &[open] {
            &:last-child {
              &::part(button) {
                border-bottom: 0;
                border-radius: 0;
              }
              &::part(region) {
                border-bottom: 1px solid oklch(78.94% 0 0);
              }
            }
          }
        }
      </code>
      <br>
      <ry-accordion class="f-l-ry-accordion">
        <ry-accordion-item>
          <h4 slot="heading">Heading</h4>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content</div>
        </ry-accordion-item>
        <ry-accordion-item>
          <h4 slot="heading">Heading2</h4>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content2</div>
        </ry-accordion-item>
        <ry-accordion-item>
          <h4 slot="heading">Heading3</h4>
          <div slot="sub">
            sub
          </div>
          <div slot="icon">
            icon
          </div>
          <div slot="content">Content3</div>
        </ry-accordion-item>
      </ry-accordion>
      <h3>CSS Variables</h3>
      <table>
        <tr>
          <th scope="col">CSS Variables name</th>
          <th scope="col">Description</th>
          <th scope="col">Default value</th>
        </tr>
        <tr>
          <td>--ry-accordion-item-margin-bottom</td>
          <td>accordion-item margin-bottom</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-padding-vertical</td>
          <td>padding-top and padding-bottom</td>
          <td>0.75rem</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-padding-horizontal</td>
          <td>padding-left and padding-right</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-text-color</td>
          <td>text color</td>
          <td>oklch(13.98% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-text-size</td>
          <td>font size</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-text-family</td>
          <td>font family</td>
          <td>'Helvetica, Arial, sans-serif, system-ui'</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-text-line-height</td>
          <td>font line height</td>
          <td>1.5</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-border-width</td>
          <td>border width</td>
          <td>1px</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-border-style</td>
          <td>border style</td>
          <td>solid</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-border-color</td>
          <td>border color</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-border-radius</td>
          <td>border radius</td>
          <td>0</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-bg</td>
          <td>background color</td>
          <td>oklch(99.4% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-hover-bg</td>
          <td>background color (hover)</td>
          <td>oklch(94.66% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-hover-border-color</td>
          <td>border color (hover)</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-active-bg</td>
          <td>background color (active)</td>
          <td>oklch(86.89% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-active-border-color</td>
          <td>border color (active)</td>
          <td>oklch(78.94% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-focus-shadow-width</td>
          <td>focus border width(actually box-shadow)</td>
          <td>3px</td>
        </tr>
        <tr>
          <td>--ry-accordion-heading-focus-shadow-color</td>
          <td>focus border color(actually box-shadow)</td>
          <td>3px</td>
        </tr>
        <tr>
          <td>--ry-accordion-content-bg</td>
          <td>content background</td>
          <td>oklch(97.31% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-content-text-color</td>
          <td>content text color</td>
          <td>oklch(13.98% 0 0)</td>
        </tr>
        <tr>
          <td>--ry-accordion-content-padding-left</td>
          <td>content padding-left</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-accordion-content-padding-right</td>
          <td>content padding-right</td>
          <td>1rem</td>
        </tr>
        <tr>
          <td>--ry-accordion-content-overscroll-behavior</td>
          <td>content scroll behavior</td>
          <td>auto</td>
        </tr>
        <tr>
          <td>--ry-accordion-content-max-height</td>
          <td>content max height</td>
          <td>auto</td>
        </tr>
      </table>
      <br>
      <ry-accordion class="custom-ry-accordion">
        <ry-accordion-item>
          <div slot="heading">Heading icon using Google Font Emoji</div>
          <div slot="sub">
            <mark>watch this!</mark>
          </div>
          <div slot="icon">
            <span class="material-symbols-outlined" aria-hidden="true">
              expand_more
            </span>
          </div>
          <div slot="content"><p>Content</p></div>
        </ry-accordion-item>
        <ry-accordion-item>
          <div slot="heading">Heading icon using fontawesome svg</div>
          <div slot="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 1rem;position: relative; top: 0.125rem;" aria-hidden="true">
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.!-->
              <path 
                fill="white"
                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
              />
            </svg>
          </div>
          <div slot="content"><div style="height: 500px;">Content2</div></div>
        </ry-accordion-item>
      </ry-accordion>
      <h2>FAQ</h2>
      <h3>How about HTML tag &lt;details&gt;</h3>
      <p>&lt;details&gt; is a good choice, and we highly recommend using native HTML directly. If you opt to use &lt;details&gt;:</p>
      <ul>
        <li>You can change the icon using `list-style-image`.</li>
        <li>When there is not enough width, the start of the second line of text will be below the icon.</li>
        <li>Some browsers or screen readers might not yet support &lt;details&gt;.</li>
        <li>If your title requires additional supplementary information, you will need to customize &lt;summary&gt; yourself.</li>
      </ul>
      <h3>Conclusion</h3>
      <p>Developing an accordion is quite enjoyable as it requires understanding the relationships between <code>role="region"</code>, <code>aria-controls</code>, <code>aria-expanded</code>, <code>aria-hidden</code>, <code>aria-labelledby</code> and corresponding IDs, especially when it becomes clearer during unit testing.</p>
      <p>This Web Component is highly recommended for developers to create and use. Even developers who are not very familiar with accessibility can contribute to accessible web development by simply implementing it!</p>
    </main>
  </body>
</html>
